
/*
F7F4EA
9CE3CF
6A7FF5
574B9B
*/

html, body {
  margin:0;
  height: 100%;
  color : #0F044C;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #F7F4EA;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  color: #9CE3CF;
  padding-bottom: 10%;
  margin-bottom: -5%;
}
h3{
  color: #9CE3CF;
  font-size: 1.7em;
}
.container{
  margin: 0;
  text-align: center;
  height:100%;
}
.header {
	position: absolute;
	top:30vh;
	bottom: 30vh;
	left: 20vw;
	right: 20vw;
	margin: auto;
}
.hr_container{
	height: 10px;
	border: 0;
	box-shadow: 0 7px 7px -7px #574B9B inset;
}


#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li:hover { background: #F2F2F2; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; }
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .glyphicon {
	color: #DFE0E0;
	font-size: 14px;

	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .glyphicon.filled { color: #22A39F; }

#abilities ul > li:hover .ability-score .glyphicon { margin-left: 2px; }
.ab_container {height:92%; max-width: 1280px; padding: 40px 180px; }
.col-md-6{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-weight: bold;
}
.glyphicon-star:before {
    content: "★";
}
